<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zz.merlin.budget">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Expenses">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectCategoryActivity"
            android:label="Select Category"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zz.merlin.budget.MainActivity" />
        </activity>
        <activity
            android:name=".ExtraActivity"
            android:label="Add extra comments"
            android:parentActivityName=".SelectCategoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zz.merlin.budget.SelectCategoryActivity" />
        </activity>
        <activity
            android:name=".TransactionsActivity"
            android:label="Transactions for this Month"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zz.merlin.budget.MainActivity" />
        </activity>
        <activity
            android:name=".UsageActivity"
            android:label="Spend for the Month"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zz.merlin.budget.MainActivity" />
        </activity>
        <activity android:name=".GoogleVoiceInputActivity">
            <intent-filter>
                <action android:name="com.google.android.gms.actions.CREATE_NOTE" />

                <category android:name="com.google.android.voicesearch.SELF_NOTE" />

                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widgets.SpentMonthWidget"
            android:label="Spent for Month">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/spent_month_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.MonthSummaryWidget"
            android:label="Month Summary">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/month_summary_widget_info" />
        </receiver>

        <activity
            android:name=".AddPastActivity"
            android:label="Add Custom Expense"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zz.merlin.budget.MainActivity" />
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="Manage Categories"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zz.merlin.budget.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="zz.merlin.budget.MainActivity" />
        </activity>
    </application>

</manifest>